body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    }

.calculate {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0055aa;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}